[Unit]
Description=n8n
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.n8n.io/n8nio/n8n
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=n8n
#Network=tgdb.network
User=0:0

EnvironmentFile=${instance_dir}/.env

PublishPort=127.0.0.1:${host_port}:5678

Volume=${instance_dir}/n8n_data:/home/node/.n8n
Volume=${instance_dir}/local-files:/files

[Service]
Restart=on-failure
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
