[Unit]
Description=uptime-kuma
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/louislam/uptime-kuma:2
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=uptimekuma
#Network=tgdb.network
PublishPort=127.0.0.1:${host_port}:3001
Volume=${instance_dir}:/app/data

[Service]
Restart=on-failure
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
