[Unit]
Description=Flarum（MariaDB）
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/mariadb:11
#AutoUpdate=registry
ContainerName=${container_name}-mariadb
Label=app=flarum
Label=tgdb_db=mariadb

Pod=${container_name}.pod

EnvironmentFile=${instance_dir}/.env

Volume=${instance_dir}/mysql:/var/lib/mysql

Exec=mariadbd --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
