[Unit]
Description=Actual Budget
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/actualbudget/actual-server:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=actual
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:5006/tcp

EnvironmentFile=${instance_dir}/.env

Volume=${instance_dir}/data:/data

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
