[Unit]
Description=homebox
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/sysadminsmedia/homebox:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=homebox
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:7745/tcp

Volume=${instance_dir}/data:/data

EnvironmentFile=${instance_dir}/.env

UserNS=keep-id
User=${user_id}:${group_id}

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
