[Unit]
Description=outline
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/outlinewiki/outline:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=outline

Volume=${instance_dir}/app-data:/var/lib/outline/data
Volume=${instance_dir}/.env:/opt/outline/.env

Pod=${container_name}.pod

EnvironmentFile=${instance_dir}/.env

User=0:0

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
