[Unit]
Description=RustFS
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/rustfs/rustfs:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=rustfs
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:9001/tcp
PublishPort=127.0.0.1:${s3_port}:9000/tcp

EnvironmentFile=${instance_dir}/.env

Volume=${volume_dir}:/data
Volume=${instance_dir}/logs:/logs

UserNS=keep-id
User=${user_id}:${group_id}

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
