[Unit]
Description=Tdarr Server
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/haveagitgat/tdarr:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=tdarr

Pod=${container_name}.pod
UserNS=keep-id

EnvironmentFile=${instance_dir}/.env
Environment=serverIP=0.0.0.0
Environment=serverPort=8266
Environment=webUIPort=8265

Volume=${instance_dir}/server:/app/server
Volume=${instance_dir}/configs:/app/configs
Volume=${instance_dir}/logs:/app/logs
Volume=${volume_dir}:/data
Volume=${volume_dir}/tdarr_cache:/temp

# 若要啟用硬體轉碼，可按需取消註解：
#Device=/dev/dri/renderD128
#Device=/dev/dri/card0
#GroupAdd=video
#GroupAdd=render

[Service]
Restart=unless-stopped
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
