[Unit]
Description=Homarr
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/homarr-labs/homarr:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=homarr
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:7575/tcp

EnvironmentFile=${instance_dir}/.env

Volume=${instance_dir}/appdata:/appdata

# 若你要啟用 Docker / Podman 整合，可取消註解下列掛載：
#Volume=${podman_sock_host_path}:/var/run/docker.sock

NoNewPrivileges=true

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
