[Unit]
Description=KitchenOwl
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/tombursch/kitchenowl:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=kitchenowl
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:8080/tcp

EnvironmentFile=${instance_dir}/.env

Volume=${instance_dir}/data:/data

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
