[Unit]
Description=vaultwarden
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/vaultwarden/server:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=vaultwarden
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:80

Volume=${instance_dir}/vw-data:/data

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
