[Unit]
Description=Redis
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/redis:7-alpine
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=redis
Label=tgdb_db=redis

Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:6379/tcp

EnvironmentFile=${instance_dir}/.env
Exec=sh -c 'set -eu; exec redis-server --appendonly yes --requirepass "$REDIS_PASSWORD"'

Volume=${instance_dir}/rdata:/data

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
