[Unit]
Description=CLIProxyAPI
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/eceasy/cli-proxy-api:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=cli-proxy-api
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:8317

PublishPort=127.0.0.1:8085:8085
PublishPort=127.0.0.1:1455:1455
PublishPort=127.0.0.1:54545:54545
PublishPort=127.0.0.1:51121:51121
PublishPort=127.0.0.1:11451:11451

Environment=TZ=Asia/Taipei

Volume=${instance_dir}/config.yaml:/CLIProxyAPI/config.yaml
Volume=${instance_dir}/auths:/root/.cli-proxy-api
Volume=${instance_dir}/logs:/CLIProxyAPI/logs
Volume=${instance_dir}/static:/CLIProxyAPI/static

[Service]
Restart=on-failure
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
