[Unit]
Description=Pocket ID
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/pocket-id/pocket-id:v2
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=pocket-id
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:1411

EnvironmentFile=${instance_dir}/.env

Volume=${instance_dir}/data:/app/data

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
