[Unit]
Description=Penpot postgres
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/postgres:15-alpine
#AutoUpdate=registry
ContainerName=${container_name}-postgres
Label=app=penpot
Label=tgdb_db=postgres

Pod=${container_name}.pod

EnvironmentFile=${instance_dir}/.env

Volume=${instance_dir}/pgdata:/var/lib/postgresql/data

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false

