[Unit]
Description=glance
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/glanceapp/glance:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=glance
#Network=tgdb.network

EnvironmentFile=${instance_dir}/.env

PublishPort=127.0.0.1:${host_port}:8080

Volume=${instance_dir}/config:/app/config
Volume=${instance_dir}/assets:/app/assets
Volume=/etc/localtime:/etc/localtime:ro

#Volume=${podman_sock_host_path}:/var/run/docker.sock

NoNewPrivileges=true

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false

