[Unit]
Description=Invoice Ninja（Redis）
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/redis:7-alpine
#AutoUpdate=registry
ContainerName=${container_name}-redis
Label=app=invoiceninja
Label=tgdb_db=redis

Pod=${container_name}.pod

EnvironmentFile=${instance_dir}/.env
Exec=sh -c 'set -eu; exec redis-server --appendonly yes'

Volume=${instance_dir}/redis:/data

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false

