---
# Homer 儀表板設定範本

title: TGDB Homer
subtitle: 我的服務首頁

header: true
footer: false
columns: "3"

theme: default
colors:
  light:
    highlight-primary: "#3367d6"
    highlight-secondary: "#4285f4"
    highlight-hover: "#5a95f5"
    background: "#f5f5f5"
    card-background: "#ffffff"
    text: "#363636"
    text-header: "#ffffff"
    text-title: "#303030"
    text-subtitle: "#424242"
    card-shadow: rgba(0, 0, 0, 0.1)
    link: "#3273dc"
    link-hover: "#363636"

services:
  - name: TGDB
    icon: fas fa-server
    items:
      - name: TGDB 專案
        logo: https://github.com/tgdb77/tgdb/blob/main/docs/tgdb.png?raw=true
        subtitle: 編輯 config.yml 來建立自己的首頁
        url: https://github.com/tgdb77/tgdb
