[Unit]
Description=code-server
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/codercom/code-server:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=code-server
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:8080/tcp

Volume=${instance_dir}/local:/home/coder/.local
Volume=${instance_dir}/config:/home/coder/.config
Volume=${instance_dir}/project:/home/coder/project

EnvironmentFile=${instance_dir}/.env

UserNS=keep-id
User=${user_id}:${group_id}

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
