[Unit]
Description=open-webui
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/open-webui/open-webui:main-slim
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=open-webui
#Network=tgdb.network
PublishPort=127.0.0.1:${host_port}:8080

Volume=${instance_dir}/open-webui:/app/backend/data

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
