[Unit]
Description=Opengist
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/thomiceli/opengist:1
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=opengist
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:6157/tcp
PublishPort=127.0.0.1:${ssh_port}:${ssh_port}/tcp

EnvironmentFile=${instance_dir}/.env

Volume=${instance_dir}/data:/opengist

NoNewPrivileges=true

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
