[Unit]
Description=Komga
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/gotson/komga:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=komga
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:25600/tcp

EnvironmentFile=${instance_dir}/.env

Volume=${instance_dir}/config:/config
Volume=${volume_dir}:/data

UserNS=keep-id
User=${user_id}:${group_id}

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
