[Unit]
Description=FossFLOW
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/stnsmith/fossflow:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=fossflow
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:80/tcp

EnvironmentFile=${instance_dir}/.env

Volume=${volume_dir}:/data/diagrams
Volume=/etc/localtime:/etc/localtime:ro

NoNewPrivileges=true

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
