[Unit]
Description=WordPress（Redis）
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/redis:7-alpine
#AutoUpdate=registry
ContainerName=${container_name}-redis
Label=app=wordpress
Label=tgdb_db=redis

Pod=${container_name}.pod

Volume=${instance_dir}/rdata:/data

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false

