[Unit]
Description=Keycloak
After=network-online.target
Wants=network-online.target

After=${container_name}-postgres.service container-${container_name}-postgres.service
Wants=${container_name}-postgres.service container-${container_name}-postgres.service

[Container]
Image=quay.io/keycloak/keycloak:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=keycloak

Pod=${container_name}.pod

EnvironmentFile=${instance_dir}/.env

Exec=start-dev --optimized

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
