[Unit]
Description=Browserless
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/browserless/chromium:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=browserless
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:3000/tcp

EnvironmentFile=${instance_dir}/.env

# Chromium / Playwright / Puppeteer 類工作較依賴共享記憶體
ShmSize=1g

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
