[Unit]
Description=Zot
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/project-zot/zot:v2.1.15
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=zot
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:5000

Exec=serve /etc/zot/config.yml

Volume=${instance_dir}/etc:/etc/zot
Volume=${instance_dir}/registry:/var/lib/registry

User=0:0

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
