[Unit]
Description=OpenList
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/openlistteam/openlist:latest-aio
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=openlist
PublishPort=127.0.0.1:${host_port}:5244

Volume=${instance_dir}:/opt/openlist/data
Volume=${volume_dir}:/mnt

#Network=tgdb.network
User=0:0
Environment=UMASK=022

[Service]
Restart=on-failure
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
