[Unit]
Description=NodeBB
After=network-online.target
Wants=network-online.target

After=${container_name}-postgres.service container-${container_name}-postgres.service
Wants=${container_name}-postgres.service container-${container_name}-postgres.service

[Container]
Image=ghcr.io/nodebb/nodebb:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=nodebb

Pod=${container_name}.pod

UserNS=keep-id
User=0

Volume=${instance_dir}/config:/opt/config
Volume=${instance_dir}/build:/usr/src/app/build
Volume=${instance_dir}/uploads:/usr/src/app/public/uploads
Volume=${instance_dir}/setup.json:/usr/src/app/setup.json:ro

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
