[Unit]
Description=NodeBB PostgreSQL
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/postgres:18.3-alpine
#AutoUpdate=registry
ContainerName=${container_name}-postgres
Label=app=nodebb
Label=tgdb_db=postgres

Pod=${container_name}.pod

Environment=POSTGRES_DB=nodebb
Environment=POSTGRES_USER=${db_user}
Environment=POSTGRES_PASSWORD=${db_pass}

Volume=${instance_dir}/pgdata:/var/lib/postgresql/data

[Service]
Restart=always
RestartSec=10s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
