# -----------------------------------------------------------------------------
# Whisparr（Docker v3）環境變數範本
# -----------------------------------------------------------------------------
# 參考：
# - https://github.com/Whisparr/Whisparr
# - https://wiki.servarr.com/whisparr/installation/docker

PUID=${user_id}
PGID=${group_id}
TZ=Asia/Taipei
UMASK=002

# 建議在 Whisparr 內使用：
# - Root Folder：/data/media/adult
# - qBittorrent / completed：/data/torrents/adult
# - Usenet：/data/usenet/complete/adult
