[Unit]
Description=Nginx
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/kjlion/nginx:alpine
#AutoUpdate=registry
ContainerName=nginx
Label=app=nginx
Network=host
#PublishPort=80:80
#PublishPort=443:443
#PublishPort=443:443/udp
Volume=${TGDB_DIR}/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
Volume=${TGDB_DIR}/nginx/configs:/etc/nginx/conf.d:ro
Volume=${TGDB_DIR}/nginx/html:/usr/share/nginx/html:ro
Volume=${TGDB_DIR}/nginx/logs:/var/log/nginx
Volume=${TGDB_DIR}/nginx/cache:/var/cache/nginx
Volume=${TGDB_DIR}/nginx/certs:/etc/nginx/certs
Volume=${TGDB_DIR}/nginx/modsecurity:/etc/nginx/modsecurity:ro

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
