[Unit]
Description=Bichon
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/rustmailer/bichon:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=bichon
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:15630/tcp

EnvironmentFile=${instance_dir}/.env

Volume=${volume_dir}:/data

UserNS=keep-id
User=${user_id}:${group_id}
NoNewPrivileges=true

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
