[Unit]
Description=Rybbit（ClickHouse）
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/clickhouse/clickhouse-server:25.4.2
#AutoUpdate=registry
ContainerName=${container_name}-clickhouse
Label=app=rybbit
Label=tgdb_db=clickhouse

Pod=${container_name}.pod
EnvironmentFile=${instance_dir}/.env

Environment=CLICKHOUSE_DB=analytics
Environment=CLICKHOUSE_USER=default
Environment=CLICKHOUSE_PASSWORD=${clickhouse_pass}

Volume=${instance_dir}/chdata:/var/lib/clickhouse
Volume=${instance_dir}/clickhouse/config.d/network.xml:/etc/clickhouse-server/config.d/network.xml:ro
Volume=${instance_dir}/clickhouse/config.d/enable_json.xml:/etc/clickhouse-server/config.d/enable_json.xml:ro
Volume=${instance_dir}/clickhouse/config.d/logging_rules.xml:/etc/clickhouse-server/config.d/logging_rules.xml:ro
Volume=${instance_dir}/clickhouse/config.d/user_logging.xml:/etc/clickhouse-server/config.d/user_logging.xml:ro


[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
