# -----------------------------------------------------------------------------
# Webtop（LinuxServer.io）環境變數範本
# -----------------------------------------------------------------------------
# 注意：此檔案可能包含密碼，建議權限設為 600。

PUID=1000
PGID=1000
TZ=Asia/Taipei
TITLE=${container_name}
SUBFOLDER=/
CUSTOM_USER=${user_name}
PASSWORD=${pass_word}
USER_LOCALE=zh_TW.UTF-8
LC_ALL=zh_TW.UTF-8
LANG=zh_TW.UTF-8
NO_DECOR=1
DEFAULT_APP=xfce
