[Unit]
Description=metabase
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/metabase/metabase:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=metabase

Pod=${container_name}.pod

EnvironmentFile=${instance_dir}/config/.env

User=0:0

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
