[Unit]
Description=Ghost（App）
After=network-online.target
Wants=network-online.target

After=${container_name}-mysql.service container-${container_name}-mysql.service
Wants=${container_name}-mysql.service container-${container_name}-mysql.service

[Container]
Image=docker.io/library/ghost:5-alpine
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=ghost

Pod=${container_name}.pod

EnvironmentFile=${instance_dir}/.env

Volume=${instance_dir}/content:/var/lib/ghost/content

User=0:0

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false

