[Unit]
Description=Lemmy（pict-rs）
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/asonix/pictrs:0.5.23
#AutoUpdate=registry
ContainerName=${container_name}-pictrs
Label=app=lemmy

Pod=${container_name}.pod

EnvironmentFile=${instance_dir}/.env

Volume=${instance_dir}/pictrs:/mnt

User=991:991

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
