[Unit]
Description=Loki
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/grafana/loki:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=loki

# - 若你的 Grafana 實例名稱不是 grafana（例如 grafana2），請把 grafana_pod 改成對應的 Pod 名稱
Pod=${grafana_pod}.pod

Exec=-config.file=/etc/loki/config.yaml

Volume=${instance_dir}/loki-config.yaml:/etc/loki/config.yaml
Volume=${instance_dir}/data:/loki

User=${user_id}:${group_id}
UserNS=keep-id

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false

