[Unit]
Description=portainer
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/portainer/portainer-ce:lts
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=portainer
#Network=tgdb.network
PublishPort=127.0.0.1:${host_port}:9000
PublishPort=127.0.0.1:8000:8000

Volume=/run/user/${user_id}/podman/podman.sock:/var/run/docker.sock
Volume=${instance_dir}/portainer_data:/data

[Service]
Restart=on-failure
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
