[Unit]
Description=homepage
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/gethomepage/homepage:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=homepage
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:3000

Volume=${instance_dir}/config:/app/config
Volume=/run/user/${user_id}/podman/podman.sock:/var/run/docker.sock
EnvironmentFile=${instance_dir}/.env

[Service]
Restart=on-failure
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
