[Unit]
Description=navidrome
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/deluan/navidrome:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=navidrome
#Network=tgdb.network
UserNS=keep-id

PublishPort=127.0.0.1:${host_port}:4533

Volume=${instance_dir}/data:/data
Volume=${volume_dir}:/music
EnvironmentFile=${instance_dir}/.env

[Service]
Restart=on-failure
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
