[Unit]
Description=MeTube
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/alexta69/metube:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=metube
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:8081/tcp

EnvironmentFile=${instance_dir}/.env

UserNS=keep-id

Volume=${volume_dir}:/downloads

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
