[Unit]
Description=karakeep
After=network-online.target
Wants=network-online.target

After=${container_name}-meilisearch.service container-${container_name}-meilisearch.service
Wants=${container_name}-meilisearch.service container-${container_name}-meilisearch.service
After=${container_name}-chrome.service container-${container_name}-chrome.service
Wants=${container_name}-chrome.service container-${container_name}-chrome.service

[Container]
Image=ghcr.io/karakeep-app/karakeep:release
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=karakeep

Pod=${container_name}.pod

EnvironmentFile=${instance_dir}/.env

Volume=${instance_dir}/data:/data

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false

