[Unit]
Description=beszel-agent
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/henrygd/beszel-agent:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=beszel-agent
Network=host
Volume=/run/user/${user_id}/podman/podman.sock:/var/run/docker.sock

EnvironmentFile=${instance_dir}/.env
User=${user_id}:${user_id}

[Service]
Restart=on-failure
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
