[Unit]
Description=copyparty
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/copyparty/ac:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=copyparty
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:3923/tcp

Volume=${instance_dir}/cfg:/cfg
Volume=${volume_dir}:/w

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
