[Unit]
Description=Apprise API
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/caronc/apprise:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=apprise-api
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:8000

EnvironmentFile=${instance_dir}/.env

Volume=${instance_dir}/config:/config
Volume=${instance_dir}/plugin:/plugin
Volume=${instance_dir}/attach:/attach

User=${user_id}:${group_id}

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
