[Unit]
Description=Pixelfed（MariaDB）
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/mariadb:11.6
#AutoUpdate=registry
ContainerName=${container_name}-db
Label=app=pixelfed
Label=tgdb_db=mariadb

Pod=${container_name}.pod

EnvironmentFile=${instance_dir}/.env

Volume=${instance_dir}/mysql:/var/lib/mysql

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
