[Unit]
Description=webtop
After=network-online.target
Wants=network-online.target

[Container]
Image=lscr.io/linuxserver/webtop:debian-xfce
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=webtop
#Network=tgdb.network

EnvironmentFile=${instance_dir}/.env

PublishPort=127.0.0.1:${host_port}:3000

Volume=${instance_dir}/config:/config
Volume=${instance_dir}:/host-home

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
