[Unit]
Description=Seerr
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/seerr-team/seerr:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=seerr
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:5055/tcp
UserNS=keep-id

Volume=${instance_dir}/config:/app/config
EnvironmentFile=${instance_dir}/.env

NoNewPrivileges=true

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
