[Unit]
Description=Chatwoot（Redis）
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/redis:alpine
#AutoUpdate=registry
ContainerName=${container_name}-redis
Label=app=chatwoot

Pod=${container_name}.pod

EnvironmentFile=${instance_dir}/.env

Volume=${instance_dir}/redis:/data

Entrypoint=["/bin/sh","-c"]
Exec="exec redis-server --appendonly yes --requirepass \"$REDIS_PASSWORD\""

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
