[Unit]
Description=Jenkins
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/jenkins/jenkins:lts-jdk21
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=jenkins
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:8080/tcp
# 若你需要啟用 inbound agent TCP，請自行取消註解，並與 .env 內的 JENKINS_SLAVE_AGENT_PORT 保持一致。
#PublishPort=127.0.0.1:${agent_port}:50000/tcp

EnvironmentFile=${instance_dir}/.env

Volume=${instance_dir}/jenkins_home:/var/jenkins_home

UserNS=keep-id
User=${user_id}:${group_id}

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
