[Unit]
Description=Gotify
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/gotify/server:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=gotify

PublishPort=127.0.0.1:${host_port}:80
#Network=tgdb.network

EnvironmentFile=${instance_dir}/.env

Volume=${instance_dir}/data:/app/data

User=0:0

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false

