[Unit]
Description=MeiliSearch
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/getmeili/meilisearch:v1.42.1
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=meilisearch
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:7700/tcp

EnvironmentFile=${instance_dir}/.env

Volume=${instance_dir}/meili_data:/meili_data

Exec=meilisearch --no-analytics

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
