[Unit]
Description=paperless-ngx postgres
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/postgres:16
#AutoUpdate=registry
ContainerName=${container_name}-postgres
Label=app=paperless-ngx
Label=tgdb_db=postgres

Pod=${container_name}.pod

Volume=${instance_dir}/pgdata:/var/lib/postgresql/data

EnvironmentFile=${instance_dir}/.env

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
