[Unit]
Description=paperless-ngx
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/paperless-ngx/paperless-ngx:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=paperless-ngx

Pod=${container_name}.pod

Volume=${instance_dir}/data:/usr/src/paperless/data
Volume=${volume_dir}/media:/usr/src/paperless/media
Volume=${volume_dir}/export:/usr/src/paperless/export
Volume=${volume_dir}/consume:/usr/src/paperless/consume

EnvironmentFile=${instance_dir}/.env

User=${user_id}:${group_id}
UserNS=keep-id

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
