[Unit]
Description=SillyTavern
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/sillytavern/sillytavern:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=sillytavern
#Network=tgdb.network
PublishPort=127.0.0.1:${host_port}:8000

Environment=PUID=${user_id}
Environment=PGID=${group_id}

Volume=${instance_dir}/config:/home/node/app/config
Volume=${instance_dir}/data:/home/node/app/data
Volume=${instance_dir}/plugins:/home/node/app/plugins
Volume=${instance_dir}/extensions:/home/node/app/public/scripts/extensions/third-party

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false

