[Unit]
Description=Blinko
After=network-online.target
Wants=network-online.target

After=${container_name}-postgres.service container-${container_name}-postgres.service
Wants=${container_name}-postgres.service container-${container_name}-postgres.service

[Container]
Image=docker.io/blinkospace/blinko:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=blinko

Pod=${container_name}.pod

EnvironmentFile=${instance_dir}/.env

Volume=${instance_dir}/app-data:/app/.blinko

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
