[Unit]
Description=remark42
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/umputun/remark42:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=remark42
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:8080/tcp

Volume=${instance_dir}/var:/srv/var
EnvironmentFile=${instance_dir}/.env

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
