[Unit]
Description=FlareSolverr
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/flaresolverr/flaresolverr:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=flaresolverr
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:8191/tcp

EnvironmentFile=${instance_dir}/.env

# Chromium 可能需要較大的 /dev/shm，避免頁面載入/渲染異常
ShmSize=1g

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false

