[Unit]
Description=adguardhome
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/adguard/adguardhome:v0.107.74
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=adguardhome

#Network=host

PublishPort=${host_port}:3000/tcp
PublishPort=53:53/udp
#PublishPort=67:67/udp
#PublishPort=68:68/udp
PublishPort=443:443/udp
PublishPort=784:784/udp
PublishPort=853:853/udp
PublishPort=5443:5443/udp
PublishPort=8853:8853/udp
PublishPort=53:53/tcp
PublishPort=853:853/tcp
PublishPort=5443:5443/tcp

Volume=${instance_dir}/data:/opt/adguardhome/work
Volume=${instance_dir}/conf:/opt/adguardhome/conf

[Service]
Restart=on-failure
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
