[Unit]
Description=Homer
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/b4bz/homer:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=homer
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:8080/tcp

EnvironmentFile=${instance_dir}/.env

Volume=${instance_dir}/assets:/www/assets

UserNS=keep-id
User=${user_id}:${group_id}

[Service]
Restart=on-failure
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
