[Unit]
Description=OctoBot
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/drakkarsoftware/octobot:stable
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=octobot
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:5001/tcp

EnvironmentFile=${instance_dir}/.env

Volume=${instance_dir}/user:/octobot/user
Volume=${instance_dir}/tentacles:/octobot/tentacles
Volume=${instance_dir}/logs:/octobot/logs
Volume=${instance_dir}/backtesting:/octobot/backtesting

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false

