# -----------------------------------------------------------------------------
# Recyclarr 設定範本（TGDB）
# -----------------------------------------------------------------------------
# 參考：
# - https://recyclarr.dev/wiki/yaml/config-reference/basic/
# - https://trash-guides.info/
#
# 使用方式：
# 1. 把 url / api_key 改成你自己的服務
# 2. 視需求啟用 sonarr / radarr / lidarr 區塊
# 3. 儲存後重啟容器，或手動在容器內執行 recyclarr sync
#
# 提醒：
# - 因為 Recyclarr 也是獨立容器，base_url 請用 host.containers.internal 搭配 TGDB 主機側埠

sonarr:
  main:
    base_url: http://host.containers.internal:38989
    api_key: 請改成你的 Sonarr API Key

    quality_definition:
      type: series

    custom_formats: []

radarr:
  main:
    base_url: http://host.containers.internal:37878
    api_key: 請改成你的 Radarr API Key

    quality_definition:
      type: movie

    custom_formats: []

lidarr:
  main:
    base_url: http://host.containers.internal:38686
    api_key: 請改成你的 Lidarr API Key

    custom_formats: []
