[Unit]
Description=Planka（Redis）
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/redis:7-alpine
#AutoUpdate=registry
ContainerName=${container_name}-redis
Label=app=planka
Label=tgdb_db=redis

Pod=${container_name}.pod

Volume=${instance_dir}/rdata:/data

Exec=redis-server --appendonly yes

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
