[Unit]
Description=pgAdmin 4
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/dpage/pgadmin4:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=dbdmin

PublishPort=127.0.0.1:${host_port}:80/tcp

Network=tgdb.network

EnvironmentFile=${instance_dir}/.env
Volume=${instance_dir}/data:/var/lib/pgadmin

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
