[Unit]
Description=FreshRSS
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/freshrss/freshrss:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=rss-stack

Pod=${container_name}.pod

EnvironmentFile=${instance_dir}/.env

Volume=${instance_dir}/freshrss_data:/var/www/FreshRSS/data
Volume=${instance_dir}/freshrss_extensions:/var/www/FreshRSS/extensions

User=0:0

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false

