[Unit]
Description=RSSHub
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/diygod/rsshub:latest
#AutoUpdate=registry
ContainerName=${container_name}-rsshub
Label=app=rss-stack

Pod=${container_name}.pod

EnvironmentFile=${instance_dir}/.env

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false

