[Unit]
Description=ntfy
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/binwiederhier/ntfy:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=ntfy

EnvironmentFile=${instance_dir}/.env

PublishPort=127.0.0.1:${host_port}:80

Volume=${instance_dir}/cache:/var/cache/ntfy
Volume=${instance_dir}/config:/etc/ntfy
Volume=/etc/localtime:/etc/localtime:ro

# 預設會讀取 /etc/ntfy/server.yml
Exec=serve

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false

