[Unit]
Description=CheckCle
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/operacle/checkcle:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=checkcle
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:8090/tcp

EnvironmentFile=${instance_dir}/.env
Volume=${instance_dir}/pb_data:/mnt/pb_data

Ulimit=nofile=4096:8192

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false

