[Unit]
Description=Hermes Dashboard
After=network-online.target
Wants=network-online.target

After=${container_name}-gateway.service container-${container_name}-gateway.service
Wants=${container_name}-gateway.service container-${container_name}-gateway.service

[Container]
Image=docker.io/nousresearch/hermes-agent:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=hermes-agent

Pod=${container_name}.pod

Environment=GATEWAY_HEALTH_URL=http://127.0.0.1:8642
Volume=${instance_dir}/hermes-home:/opt/data

Exec=dashboard --host 0.0.0.0 --insecure

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
