[Unit]
Description=HedgeDoc（App）
After=network-online.target
Wants=network-online.target

After=${container_name}-postgres.service container-${container_name}-postgres.service
Wants=${container_name}-postgres.service container-${container_name}-postgres.service

[Container]
Image=quay.io/hedgedoc/hedgedoc:1.10.3
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=hedgedoc

Pod=${container_name}.pod

EnvironmentFile=${instance_dir}/.env

Volume=${instance_dir}/uploads:/hedgedoc/public/uploads

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
