[Unit]
Description=Prowlarr
After=network-online.target
Wants=network-online.target

[Container]
Image=lscr.io/linuxserver/prowlarr:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=prowlarr
#Network=tgdb.network
UserNS=keep-id

PublishPort=127.0.0.1:${host_port}:9696/tcp

Volume=${instance_dir}/config:/config
EnvironmentFile=${instance_dir}/.env

[Service]
Restart=unless-stopped
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
