[Unit]
Description=Flatnotes
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/dullage/flatnotes:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=flatnotes
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:8080

EnvironmentFile=${instance_dir}/.env

Volume=${volume_dir}:/data

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
