[Unit]
Description=Slink
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/anirdev/slink:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=slink
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:3000/tcp

EnvironmentFile=${instance_dir}/.env

Volume=${instance_dir}/data:/app/var/data
Volume=${volume_dir}:/app/slink/images

[Service]
Restart=on-failure
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
