[Unit]
Description=termix
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/lukegus/termix:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=termix
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:4090/tcp

Volume=${instance_dir}/data:/app/data

EnvironmentFile=${instance_dir}/.env
UserNS=keep-id

[Service]
Restart=on-failure
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
