[Unit]
Description=dozzle
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/amir20/dozzle:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=dozzle

#Network=tgdb.network
PublishPort=127.0.0.1:${host_port}:8080

Volume=/run/user/${user_id}/podman/podman.sock:/var/run/docker.sock
Volume=${instance_dir}/data:/data

Environment=DOZZLE_NO_ANALYTICS=true

[Service]
Restart=on-failure
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
