[Unit]
Description=MongoDB
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/library/mongo:8.0.17
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=mongo
Label=tgdb_db=mongo

Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:27017/tcp

EnvironmentFile=${instance_dir}/.env

Volume=${instance_dir}/mongo:/data/db

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
