[Unit]
Description=IT-Tools
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/corentinth/it-tools:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=it-tools
PublishPort=127.0.0.1:${host_port}:80
#Network=tgdb.network

EnvironmentFile=${instance_dir}/.env

User=0:0

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false

