[Unit]
Description=SerpBear
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/towfiqi/serpbear:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=serpbear
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:3000

EnvironmentFile=${instance_dir}/.env

Volume=${instance_dir}/data:/app/data

HealthCmd=sh -c 'wget -qO- http://127.0.0.1:3000/ >/dev/null 2>&1 || exit 1'
HealthInterval=30s
HealthTimeout=10s
HealthRetries=3
HealthStartPeriod=15s

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
