[Unit]
Description=Gopeed
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/liwei2633/gopeed:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=gopeed
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:9999/tcp

EnvironmentFile=${instance_dir}/.env

Volume=${instance_dir}/storage:/app/storage
Volume=${volume_dir}:/app/Downloads

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
