[Unit]
Description=chromium
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/jlesage/chromium:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=chromium
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:5800/tcp

Volume=${instance_dir}/config:/config
EnvironmentFile=${instance_dir}/.env

ShmSize=1g

[Service]
Restart=on-failure
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
