[Unit]
Description=Mealie
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/mealie-recipes/mealie:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=mealie
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:9000/tcp
Volume=${instance_dir}/data:/app/data

EnvironmentFile=${instance_dir}/.env

UserNS=keep-id

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
