[Unit]
Description=donetick
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/donetick/donetick:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=donetick
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:2021/tcp

Volume=${instance_dir}/data:/donetick-data
Volume=${instance_dir}/config:/config

EnvironmentFile=${instance_dir}/.env

[Service]
Restart=on-failure
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
