[Unit]
Description=FileBrowser Quantum
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/gtstef/filebrowser:stable
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=filebrowser
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:80/tcp

EnvironmentFile=${instance_dir}/.env
Volume=${instance_dir}/config.yaml:/home/filebrowser/data/config.yaml
Volume=${instance_dir}/data:/home/filebrowser/data
Volume=${volume_dir}:/srv

User=0:0

[Service]
Restart=on-failure
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
