[Unit]
Description=trilium
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/triliumnext/notes:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=trilium
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:8080

EnvironmentFile=${instance_dir}/.env
Volume=${instance_dir}/data:/home/node/trilium-data

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
