[Unit]
Description=Semaphore UI
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/semaphoreui/semaphore:v2.17.33
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=semaphore
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:3000

EnvironmentFile=${instance_dir}/.env

Volume=${instance_dir}/data:/var/lib/semaphore
Volume=${instance_dir}/tmp:/tmp/semaphore

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
