[Unit]
Description=ollama
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/ollama/ollama:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=ollama
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:11434

Volume=${volume_dir}:/root/.ollama

EnvironmentFile=${instance_dir}/.env

# 若主機已設定 NVIDIA CDI，可視需求取消註解：
#Device=nvidia.com/gpu=all

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
