[Unit]
Description=Conduit（Matrix）
After=network-online.target
Wants=network-online.target

[Container]
Image=registry.gitlab.com/famedly/conduit/matrix-conduit:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=conduit

PublishPort=127.0.0.1:${host_port}:6167
#Network=tgdb.network

EnvironmentFile=${instance_dir}/.env
Volume=${instance_dir}/data:/var/lib/matrix-conduit

User=0:0

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
