[Unit]
Description=gokapi
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/f0rc3/gokapi:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=gokapi

#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:53842/tcp

Volume=${volume_dir}:/app/data
Volume=${instance_dir}/config:/app/config

# 自訂檔案（品牌化/自訂 UI 素材等；用不到可不建立）
Volume=${instance_dir}/custom:/app/custom

EnvironmentFile=${instance_dir}/.env

UserNS=keep-id
User=${user_id}:${user_id}

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false

