[Unit]
Description=pinchflat
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/kieraneglin/pinchflat:dev
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=pinchflat

#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:8945/tcp

Volume=${instance_dir}/config:/config
Volume=${volume_dir}:/downloads

EnvironmentFile=${instance_dir}/.env

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false

