[Unit]
Description=PostgreSQL
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/library/postgres:16-alpine
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=postgresql
Label=tgdb_db=postgres

Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:5432/tcp

EnvironmentFile=${instance_dir}/.env

Volume=${instance_dir}/pgdata:/var/lib/postgresql/data

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
