[Unit]
Description=changedetection.io
After=network-online.target
Wants=network-online.target 

[Container]
Image=ghcr.io/dgtlmoon/changedetection.io
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=changedetection.io

Volume=${instance_dir}/changedetection-data:/datastore

Pod=${container_name}.pod

EnvironmentFile=${instance_dir}/.env
#BASE_URL=https://your-domain.com

[Service]
Restart=on-failure
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
