[Unit]
Description=Hemmelig
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/hemmeligapp/hemmelig:v7
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=hemmelig
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:3000/tcp

EnvironmentFile=${instance_dir}/.env

Volume=${instance_dir}/database:/app/database
Volume=${volume_dir}:/app/uploads

[Service]
Restart=on-failure
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
