# 基本權限
PUID=${user_id}
PGID=${group_id}
UMASK=022

# Web
HOST=0.0.0.0
PORT=8081
#URL_PREFIX=/metube/

# 下載行為
MAX_CONCURRENT_DOWNLOADS=3
DELETE_FILE_ON_TRASHCAN=false

# 目錄
DOWNLOAD_DIR=/downloads
STATE_DIR=/downloads/.metube
TEMP_DIR=/downloads

# 進階（選用）
#YTDL_OPTIONS={}
#LOGLEVEL=INFO
