[Unit]
Description=beszel
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/henrygd/beszel
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=beszel
#Network=tgdb.network
PublishPort=127.0.0.1:${host_port}:8090
Volume=${instance_dir}:/beszel_data

[Service]
Restart=on-failure
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
