[Unit]
Description=Wallos
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/bellamy/wallos:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=wallos
PublishPort=127.0.0.1:${host_port}:80
#Network=tgdb.network

EnvironmentFile=${instance_dir}/.env

Volume=${instance_dir}/db:/var/www/html/db
Volume=${instance_dir}/logos:/var/www/html/images/uploads/logos

User=0:0

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false

