[Unit]
Description=oauth2-proxy
After=network-online.target
Wants=network-online.target

[Container]
Image=quay.io/oauth2-proxy/oauth2-proxy:v7.13.0
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=oauth2-proxy
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:4180

EnvironmentFile=${instance_dir}/.env

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
