# -----------------------------------------------------------------------------
# Seerr 環境變數範本
# -----------------------------------------------------------------------------
# 參考：
# - https://docs.seerr.dev/getting-started/docker
#
# 提醒：
# - Seerr 從容器內連其他 TGDB 服務時，請使用 host.containers.internal:3xxxx

TZ=Asia/Taipei
LOG_LEVEL=info
