[Unit]
Description=onlyoffice-documentserver
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/onlyoffice/documentserver:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=onlyoffice-documentserver
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:80/tcp

EnvironmentFile=${instance_dir}/.env

Volume=${instance_dir}/logs:/var/log/onlyoffice
Volume=${instance_dir}/data:/var/www/onlyoffice/Data
Volume=${instance_dir}/lib:/var/lib/onlyoffice
Volume=${instance_dir}/db:/var/lib/postgresql
Volume=${instance_dir}/redis:/var/lib/redis
Volume=${instance_dir}/rabbitmq:/var/lib/rabbitmq

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
