[Unit]
Description=meilisearch
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/getmeili/meilisearch:v1.12.8
#AutoUpdate=registry
ContainerName=${container_name}-meilisearch
Label=app=linkwarden

Pod=${container_name}.pod

Volume=${instance_dir}/meili_data:/meili_data

EnvironmentFile=${instance_dir}/.env

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
