[Unit]
Description=linkwarden
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/linkwarden/linkwarden:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=linkwarden

Volume=${instance_dir}/data:/data/data

Pod=${container_name}.pod

EnvironmentFile=${instance_dir}/.env

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
