# -----------------------------------------------------------------------------
# Prowlarr（LinuxServer.io）環境變數範本
# -----------------------------------------------------------------------------
# 參考：
# - https://docs.linuxserver.io/images/docker-prowlarr/
#
# 提醒：
# - 若要接 FlareSolverr，建議在 Prowlarr 內填 http://host.containers.internal:38191/v1

PUID=${user_id}
PGID=${group_id}
TZ=Asia/Taipei
UMASK=002
