[Unit]
Description=web-check
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/lissy93/web-check:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=web-check
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:3000/tcp

EnvironmentFile=${instance_dir}/.env

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
