[Unit]
Description=langflow
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/langflowai/langflow:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=langflow
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:7860/tcp

EnvironmentFile=${instance_dir}/.env
Volume=${instance_dir}/langflow:/app/langflow

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
