[Unit]
Description=yt-dlp-webui
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/marcobaobao/yt-dlp-webui:latest
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=yt-dlp-webui
#Network=tgdb.network

PublishPort=127.0.0.1:${host_port}:3033

EnvironmentFile=${instance_dir}/.env

Volume=${volume_dir}:/downloads
Volume=${instance_dir}/config:/config

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false

