[Unit]
Description=wg-easy
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/wg-easy/wg-easy:15
#AutoUpdate=registry
ContainerName=${container_name}
Label=app=wg-easy

PublishPort=127.0.0.1:${host_port}:51821/tcp
PublishPort=${wg_port}:51820/udp

EnvironmentFile=${instance_dir}/.env

Volume=${instance_dir}/wireguard:/etc/wireguard
Volume=/lib/modules:/lib/modules:ro

AddCapability=NET_ADMIN
AddCapability=NET_RAW
AddCapability=SYS_MODULE

Sysctl=net.ipv4.ip_forward=1
Sysctl=net.ipv4.conf.all.src_valid_mark=1

User=0:0

[Service]
Restart=always
RestartSec=15s
StartLimitBurst=3

[Install]
WantedBy=default.target

[Quadlet]
DefaultDependencies=false
